<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859784822505-a0r8bbkvi3oj86sulvqmj1hvr7g8tlr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859784822505-a0r8bbkvi3oj86sulvqmj1hvr7g8tlr8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859784822505-6onf4rq7o0m699bq2gc4nonf2t0271iv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Ad0zeWK8jZjs5hCYxzdWfw-uUkaP1dY</string>
	<key>GCM_SENDER_ID</key>
	<string>859784822505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stareet.mapApp</string>
	<key>PROJECT_ID</key>
	<string>music-9b7aa</string>
	<key>STORAGE_BUCKET</key>
	<string>music-9b7aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859784822505:ios:01f16f4ce113196df8fa78</string>
</dict>
</plist>